@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 6% 8%; /* Charcoal */
    --foreground: 240 5% 96%; /* Light Gray */
    --card: 240 6% 10%;
    --card-foreground: 240 5% 96%;
    --popover: 240 6% 8%;
    --popover-foreground: 240 5% 96%;
    --primary: 46 58% 50%; /* Gold */
    --primary-foreground: 240 6% 10%;
    --secondary: 240 6% 16%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 6% 16%;
    --muted-foreground: 240 4% 60%;
    --accent: 0 0% 98%;
    --accent-foreground: 240 6% 8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 6% 16%;
    --input: 240 6% 16%;
    --ring: 46 58% 50%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    
    --sidebar-background: 240 6% 8%;
    --sidebar-foreground: 240 5% 96%;
    --sidebar-primary: 46 58% 50%;
    --sidebar-primary-foreground: 240 6% 10%;
    --sidebar-accent: 240 6% 12%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 240 6% 12%;
    --sidebar-ring: 46 58% 50%;
  }

  .dark {
    --background: 240 6% 8%; /* Charcoal */
    --foreground: 240 5% 96%; /* Light Gray */
    --card: 240 6% 10%;
    --card-foreground: 240 5% 96%;
    --popover: 240 6% 8%;
    --popover-foreground: 240 5% 96%;
    --primary: 46 58% 50%; /* Gold */
    --primary-foreground: 240 6% 10%;
    --secondary: 240 6% 16%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 6% 16%;
    --muted-foreground: 240 4% 60%;
    --accent: 0 0% 98%;
    --accent-foreground: 240 6% 8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 6% 16%;
    --input: 240 6% 16%;
    --ring: 46 58% 50%;
    
    --sidebar-background: 240 6% 8%;
    --sidebar-foreground: 240 5% 96%;
    --sidebar-primary: 46 58% 50%;
    --sidebar-primary-foreground: 240 6% 10%;
    --sidebar-accent: 240 6% 12%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 240 6% 12%;
    --sidebar-ring: 46 58% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  section {
    @apply w-full py-12 md:py-24 lg:py-32;
  }
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
